<div class="flex-col_center_vh-100">
  <div class="form-avatar-container">
    <div class="form-avatar-background">
      <img src="../../assets/svgs/reset.svg" />
    </div>
  </div>
  <div class="glass">
    <form [formGroup]="resetForm" (ngSubmit)="onReset()">
      <div class="inputFields-container">
        <div class="inputField">
          <input type="text" formControlName="email" placeholder="Email" />
        </div>
      </div>
      <div class="small-right">
        <a routerLink="/signin">Remeber password?</a>
      </div>
      <div class="button-container">
        <button [disabled]="resetInProgress" onclick="this.blur()">
          <!-- onclick="this.blur()" to remove focus, after button has been clicked -->
          <span *ngIf="!resetInProgress">Reset password</span>
          <app-spinner *ngIf="resetInProgress"></app-spinner>
        </button>
      </div>
    </form>
  </div>
</div>
