img {
  $image-height: 90svh;

  z-index: -1;
  position: absolute;
  height: $image-height;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.center-div {
  display: flex;
  align-items: center;
  height: 100svh;

  section {
    margin-left: 10vw;

    h1 {
      font-family: 'Bruno Ace';
      font-size: 4.5rem;
    }

    h3 {
      font-weight: 100;
      font-size: 2rem;
    }

    .buttons-container {
      margin-top: 2rem;
      display: flex;
      gap: 1.5rem;

      a {
        font-size: 1.125rem;
      }
    }
  }
}
