@import '../../shared/styles/variables.scss';

* {
  font-family: $monospace-font-family;
  font-size: $font-size-xxl;
}

textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  word-break: break-all;
  caret-color: transparent;

  &:focus {
    ~ .practice-text {
      .cursor {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0.25rem;
        animation: blink 1.25s infinite;
      }
    }
  }
}

.practice-text {
  user-select: none;
  white-space: pre-wrap;
  outline: 1px solid green;

  span {
    outline: 1px solid red;
  }

  .pending {
    color: #777;
  }

  .incorrect {
    color: $error-color !important;
    background-color: $error-color-transparent;
    border-radius: 0.25rem;
  }
}

@keyframes blink {
  10% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  40% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  60% {
    background-color: transparent;
  }
  90% {
    background-color: transparent;
  }
}
