@import '../../shared/styles/variables.scss';

* {
  font-size: $font-size-xl;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 100ms ease-in-out;

  &:has(~ .textarea-container textarea:focus) {
    opacity: 0;
  }
}

.textarea-container {
  font-family: $monospace-font-family;
  width: 805px;
  padding: 2rem 4rem;
  filter: blur(5px);
  transition: 100ms ease-in-out;

  &:has(textarea:focus) {
    filter: none;
  }

  textarea {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2rem 4rem;
    overflow: hidden;
    word-wrap: break-word;
    color: transparent;

    &:focus {
      ~ .practice-text {
        .cursor {
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 0.25rem;
          animation: blink 1.25s infinite;
        }
      }
    }
  }

  .practice-text {
    user-select: none;
    white-space: pre-wrap;

    .pending {
      color: #777;
    }

    .incorrect {
      color: $error-color;
      background-color: $error-color-transparent;
      border-radius: 0.25rem;
    }
  }
}

@keyframes blink {
  10% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  40% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  60% {
    background-color: transparent;
  }
  90% {
    background-color: transparent;
  }
}
