<div class="vh-100 d-flex align-items-center justify-content-center">
  <div class="glass">
    <div style="height: 100px"></div>
    <form>
      <div class="d-flex flex-column gap-3">
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" />
      </div>
      <div class="text-end"><a routerLink="">Forgot password?</a></div>
      <div class="text-center">
        <button>Sign in</button>
      </div>
      <div class="signup-text">
        Don't have an account? <a routerLink="">Sign up</a>
      </div>
    </form>
  </div>
</div>
