<div class="d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="form-avatar-container">
    <div class="form-avatar-background">
      <mat-icon svgIcon="avatar-login"></mat-icon>
    </div>
  </div>
  <div class="glass">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="inputFields-container">
        <div class="inputField">
          <input type="email" formControlName="email" placeholder="Email" />
        </div>
        <div class="inputField">
          <input type="password" formControlName="password" placeholder="Password" />
        </div>
      </div>
      <div class="small-right">
        <a routerLink="/reset-password">Forgot password?</a>
      </div>
      <div class="button-container">
        <button [disabled]="loginInProgress" onclick="this.blur()">
          <!-- onclick="this.blur()" to remove focus, after button has been clicked -->
          <span *ngIf="!loginInProgress">Sign in</span>
          <app-spinner *ngIf="loginInProgress"></app-spinner>
        </button>
      </div>
      <div class="small-center-mt">Don't have an account? <a routerLink="/signup">Sign up</a></div>
    </form>
  </div>
</div>
