@import '../../shared/styles/variables.scss';
@import '../styles/mixins.scss';

.form-avatar-container {
  position: relative;
  top: 3%;
  .form-avatar-background {
    background: $primary-linear-gradient-transparent;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding: 0.5rem;

    .mat-icon {
      @include svg-size(100%);
      fill: #000;
    }
  }
}

form {
  width: 20rem;
  padding: 1.5rem;

  .inputFields-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1rem;

    .inputField {
      input {
        box-sizing: border-box; // todo: why do i need to provide this here, why * isn't enough?
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: $input-color;
        border-radius: $border-radius;

        &:focus {
          background-color: $input-color-active;
        }
      }
    }
  }

  .small-right {
    font-size: $font-size-s;
    text-align: end;
  }

  .small-center-mt {
    font-size: $font-size-s;
    text-align: center;
    margin-top: 1rem;
  }

  .error {
    color: $error-color;
    font-size: $font-size-s;
    text-align: end;
  }

  a {
    text-decoration: none;
    color: $primary-color;
    font-size: $font-size-s;

    &:hover,
    &:focus {
      color: $primary-color-active;
    }
  }

  .button-container {
    display: grid;
    justify-items: center;
    margin-top: 1.5rem;

    button {
      display: grid;
      justify-items: center;
      width: 50%;
      padding: 0.5rem;
      border-radius: $border-radius;
      background-color: $button-color;

      &:hover,
      &:focus {
        background-color: $button-color-active;
      }

      &:disabled {
        background-color: $button-color-disabled;
      }
    }
  }
}
