// Form styles
form {
  .ng-invalid {
    &.ng-touched {
      outline: $error-border;
    }
  }
}

// Notification styles
.mat-mdc-snack-bar-container {
  margin: 2rem 1rem !important;

  .mdc-snackbar__surface {
    background: none !important;
    padding: 0 !important;

    .mdc-snackbar__label {
      padding: 0 !important;
      font-size: $font-size !important;
    }
  }
}

// Spinner styles
.mat-mdc-progress-spinner {
  position: relative;
  .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: $primary-color !important;
  }
}

// Dialog styles
.mdc-dialog__surface {
  background-color: transparent !important;
}
