@import './app/shared/styles/variables.scss';
@import './app/shared/styles/mat-styles.scss';

@font-face {
  font-family: Rubik;
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Bruno Ace';
  src: url(./assets/fonts/BrunoAceSC-Regular.ttf);
}

@font-face {
  font-family: 'Source Code Pro';
  src: url(./assets/fonts/SourceCodePro-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  color: $text-color;
  font-family: $base-font-family;
  background-color: black;
}

button,
input,
textarea {
  all: unset;
}

.flex-col_center_vh-100 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.25rem);
  border-radius: $border-radius-m;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &.bright {
    background: rgba(255, 255, 255, 0.1);
  }

  &.inverse {
    background: rgba(0, 0, 0, 0.01);
  }

  &.blurry {
    backdrop-filter: blur(2rem);
  }
}

.button {
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  color: $text-color;
  padding: 1rem 2.5rem;
  transition: 100ms ease-in-out;

  &.solid {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color-active-transparent;
    }
  }

  &.outline {
    border: 2px solid $primary-color;

    &:hover {
      border-color: transparent;
      background-color: $primary-color-active-transparent;
    }
  }
}
