@import "~bootstrap/dist/css/bootstrap.css";

@import "./app/shared/styles/variables.scss";

@font-face {
  font-family: Rubik;
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
}

* {
  color: $text-color;
  font-family: $font-family;
}

button,
input {
  all: unset;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.25rem);
  border-radius: $border-radius-m;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
}
