<div
  class="d-flex flex-column align-items-center justify-content-center vh-100"
>
  <div class="form-avatar-container">
    <div class="form-avatar-background">
      <mat-icon svgIcon="avatar-register"></mat-icon>
    </div>
  </div>
  <div class="glass">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="d-flex flex-column gap-3 mt-4">
        <div>
          <input
            type="text"
            matInput
            placeholder="Email*"
            formControlName="email"
          />
          <div *ngIf="isInvalidAndTouched('email')">
            <div
              *ngIf="this.registerForm.get('email')!.getError('email')"
              class="error"
            >
              Invalid email
            </div>
            <div
              *ngIf="this.registerForm.get('email')!.getError('required')"
              class="error"
            >
              Email required
            </div>
          </div>
        </div>
        <div>
          <input
            type="password"
            placeholder="Password*"
            formControlName="password"
          />
          <div
            *ngIf="
              isInvalidAndTouched('password') &&
              this.registerForm.get('password')!.getError('required')
            "
            class="error"
          >
            Password required
          </div>
        </div>
      </div>
      <div
        class="text-end password-requirement-text"
        [ngClass]="
          this.registerForm.get('password')!.getError('minlength')
            ? 'errors'
            : ''
        "
      >
        must be at least 8 characters
      </div>
      <div class="text-center m-3">
        <button>Sign up</button>
      </div>
      <div class="signin-text">
        Already have an account? <a routerLink="/login">Sign in</a>
      </div>
    </form>
  </div>
</div>
