<div class="d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="form-avatar-container">
    <div class="form-avatar-background">
      <mat-icon svgIcon="avatar-register"></mat-icon>
    </div>
  </div>
  <div class="glass">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="inputFields-container">
        <div class="inputField">
          <input type="text" formControlName="email" placeholder="Email" />
          <div *ngIf="isInvalidAndTouched('email')" class="error">
            {{ getErrorMessage('email') }}
          </div>
        </div>
        <div class="inputField">
          <input type="password" formControlName="password" placeholder="Password" />
          <div *ngIf="isInvalidAndTouched('password')" class="error">
            {{ getErrorMessage('password') }}
          </div>
        </div>
      </div>
      <div
        class="small-right color-light"
        [ngClass]="{
          error:
            isInvalidAndTouched('password') &&
            this.registerForm.get('password')!.getError('minlength')
        }">
        must be at least 6 characters
      </div>
      <div class="button-container">
        <button [disabled]="registerInProgress">
          <span *ngIf="!registerInProgress">Sign up</span>
          <app-spinner *ngIf="registerInProgress"></app-spinner>
        </button>
      </div>
      <div class="small-center">Already have an account? <a routerLink="/signin">Sign in</a></div>
    </form>
  </div>
</div>
